HELP.md
.gradle
build/
.worktrees/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.gstack/

# 폐쇄망 배포용 빌드 산출물 (GitHub 100MB 제한 초과)
*.JAR
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Office 임시 잠금 파일 (Word/PPT/Excel 열람 시 생성)
~$*
.worktrees/

# 미정의 Logback 경로 변수가 만든 로컬 로그 생성물
/LOG_PATH_IS_UNDEFINED/
